%primary-btn {
  border-radius: $primary-radius;
  padding: 10px 20px;
  transition: $hover-transition;
  &:hover {
    color: white;
    background-color: darken($dark-white-color, 90%);
  }
}

%styled-input {
  border: 1px solid $dark-white-color;
  border-radius: $primary-radius;
  color: white;
  &:focus {
    border-color: $distinctive-color;
  }
}
