@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
body {
  font-family: 'Roboto', sans-serif;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}
button {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
input,
textarea {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 5px;
}
textarea {
  resize: none;
}
ul {
  list-style: none;
}
.container {
  height: 100%;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
