@import '../../../scss/main.scss';

.search {
  color: $dark-white-color;

  &__header {
    background-color: $common-color;
    height: 140px;
    width: 100%;
    padding: 15px 10px 10px;
    position: fixed;
    z-index: 1;
  }
  &__title {
    text-align: center;
    font-size: $largest-font;
  }
  &__browser {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 550px;
    input {
      @extend %styled-input;
      height: 35px;
      font-size: $large-font;
      width: 70%;
      margin-right: 15px;
    }
    ::placeholder {
      color: rgb(196, 196, 196);
    }
    button {
      width: 100px;
    }
  }
  &__results {
    padding: 20px 10px;
    position: relative;
    top: 140px;
    left: 200px;
    width: calc(100% - 200px);

    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
  }

  &__btn {
    background-color: $distinctive-color;
    color: $common-color;
    border-radius: $primary-radius;
    padding: 15px 10px;
    max-width: 150px;
    font-weight: 700;
    transition: $hover-transition;
    align-self: center;
    margin-top: 40px;
    &:hover {
      background-color: darken($color: $distinctive-color, $amount: 10%);
    }
  }
  .filters {
    color: rgb(124, 121, 121);
    background-color: $neutral-color;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 140px;
    left: 0;
    height: 100%;
    padding: 0 25px;
    &__header {
      color: $light-neutral-color;
      font-size: $larger-font;
      text-align: center;
      padding: 40px 0 0;
    }
    form {
      label {
        height: 100%;
        width: 100%;
        margin: 50px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        text-align: left;
      }
      select {
        background-color: transparent;
        width: 85%;
        color: white;
        margin-top: 10px;
        display: block;
        padding: 4px;
        &:active {
          background-color: $neutral-color;
        }
      }
      input {
        border-bottom: 1px solid rgb(197, 197, 197);
        width: 80%;
        color: white;
        ::placeholder {
          color: white;
        }

        &:focus {
          border-color: $distinctive-color;
        }
      }

      button {
        width: 80%;
        background-color: $light-neutral-color;
        align-self: center;
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}
